#logo {
	margin-left: 4em;
}
#yellowbar {
	height: 10px;
	background-color: #ffd700;
	width: 100%;
}
nav {
	position: absolute;
	height: 40px;
	width: 100%;
	background-color: #2f2f2f;
	display: inline;
}
#nav1 {
	font-family: Arial;
	color: white;
	list-style-type: none;
	margin: 0 0 0 2.5em;
	padding: 10px;
}
#nav1 li {
	display: inline;
	padding-left: 20px;
}
main {
	height: 600px;
	margin-left: 0px;
	background: url("https://www.business.unsw.edu.au/SiteCollectionImages/Content/asb-unsw-campus-48.jpg");
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}
h1 {
	font-size: 100px;
	text-align: center;
	font-family: Arial;
	color: #ffffff
}
hr {
	width: 1000px;
	height: 2px;
	background-color: #fff;
}
h2 {
	font-size: 25px;
	color: #ffffff;
	text-align: center;
	font-family: sommet;
	font-weight: normal;
}
button {
	background-color: #000000;
	font-family: arial;
	font-size: 20px;
	color: #ffd700;
	border: 3px solid black;
	display: block;
	width: 150px;
	margin: 10px auto;
}
button:hover {
	color: #000000;
	background-color: #ffd700;
	border: #ffd700;
	border-style: solid;
	border-width: 3px;
}
IMG.downarrow {
	display: block;
	margin: 10px auto;
}
section {
	margin: 4em;
	width: 100%;
	font-family: Arial;
	line-height: 1.5em;
	float: left;
}
span {
	display: inline;
	float: right;
	padding: 4em 4em 4em 4em;
}

