#logo {
	margin-left: 4em;
}
#yellowbar {
	height: 10px;
	background-color: #ffd700;
	width: 100%;
}
nav {
	position: absolute;
	height: 40px;
	width: 100%;
	background-color: #2f2f2f;
}
#nav1 {
	font-family: Arial;
	color: white;
	list-style-type: none;
	margin: 0 0 0 2.5em;
	padding: 10px;
}
#nav1 li {
	display: inline;
	padding-left: 20px;
}
.banner {
	height: 600px;
	background: url("https://www.business.unsw.edu.au/SiteCollectionImages/Content/asb-unsw-campus-48.jpg");
	width: 100%;
}
h1 {
	font-size: 100px;
	font-family: Arial;
	color: #ffffff;
	position: absolute;
	top: 150px;
	left: 350px;
}
hr {
	width: 1000px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 350px;
	left: 200px;
}
h2 {
	font-size: 25px;
	color: #ffffff;
	font-family: sommet;
	font-weight: normal;
	position: absolute;
	top: 400px;
	left: 440px;
}
button {
	background-color: #000000;
	font-family: arial;
	font-size: 20px;
	color: #ffd700;
	border: 3px solid black;
	width: 150px;
	position: absolute;
	bottom: 150px;
	left: 625px;
}
button:hover {
	color: #000000;
	background-color: #ffd700;
	border: #ffd700;
	border-style: solid;
	border-width: 3px;
}
IMG.downarrow {
	position: absolute;
	bottom: 50px;
	left: 675px;
}
section {
   margin: 2em 4em 0 4em;
}

p {
	font-family: Arial;
	float: left;
	width: 50%;
}

IMG.circle {
    float: right;
    padding: 0 3em 0 3em;
}
